dl.fuilockerInfo {
	background-color:#FFFFE3;
	border:1px solid #999966;
	font-size:12px;
	margin-bottom:1em;
}
dl.fuilockerInfo a {
	border:medium none !important;
	color:black !important;
	text-decoration:underline;
}
dl.fuilockerInfo dt {
	background-color:#999966;
	color:White;
	float:left;
	font-weight:bold;
	line-height:1.25em;
	margin:0 0.5em 0 0;
	padding:0.5em 0.75em;
}
dl.fuilockerInfo dd {
	line-height:1.25em;
	margin:0;
	padding:0.5em;
}


dl#fuilockerAvailable {
	width: 160px;
	border: 1px solid #777;
	background-color: #eee;
	color: #333;
	float:right;
	padding: 5px;
	margin-left: 20px;
}


dl#fuilockerAvailable dt#fuilockerAvailableTitle {
	color: #333;
	font-size: 1.2em;
	margin: 0 0 10px 0;
}

dl#fuilockerAvailable dd {
	margin: 0;
}

dl#fuilockerAvailable dt.fuilockerAvailableHeader {
	color: #333;
	background-color: #ddd;
	font-size: 1.0em;
	padding: 3px 5px 3px 5px;
	margin: 15px -5px 10px -5px;
	border-style: dashed;
	border-width: 1px 0 1px 0;
	border-color: #777;
}



dl#fuilockerAvailable dd dd dl {
	margin: 3px 0 0 0;
	font-size: 0.9em;
}
dl#fuilockerAvailable dd dd dl dt {
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
}
dl#fuilockerAvailable dd dd dl dt:after {
	content: ":";
}
dl#fuilockerAvailable dd dd dl dd {
	margin-left: 15px;
}



#fuilockerInfoLabel {
	cursor: pointer;
}
